<a href="https://colab.research.google.com/github/Ahmedsssy/ahmed-ai/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
g1=14
g2=15
g3=19
g5=11

grades=[15,16,17,18,19]
print=(grades)

In [ ]:
grades

[15, 16, 17, 18, 19]

In [ ]:
type(grades)

list

In [ ]:
grades[1:2]

[16]

In [ ]:
n=list(range(1000000000000))
print(n)

In [3]:
N= [1,2,5,5,8,8,9,4,2]
0 in N

False

In [1]:
num1 = 3
num2 = 4
num3 = 5

print("Problem 1 (integers):")
print("a)",
      num1 + num2)
print("b)",
      num3 - num1)
print("c)",
      num1 * num2 + num3)
print("d)",
      num1 * (num2 + num3))
print("e)",
      num3 / num1)
print("f)",
      num3 // num1)
print("g)",
      num3 % num1)


num1 = 3.0
num2 = 4.0
num3 = 5.0

print("\nProblem 1 (floats):")
print("a)", num1 + num2)
print("b)", num3 - num1)
print("c)", num1 * num2 + num3)
print("d)", num1 * (num2 + num3))
print("e)", num3 / num1)
print("f)", num3 // num1)
print("g)", num3 % num1)

Problem 1 (integers):
a) 7
b) 2
c) 17
d) 27
e) 1.6666666666666667
f) 1
g) 2

Problem 1 (floats):
a) 7.0
b) 2.0
c) 17.0
d) 27.0
e) 1.6666666666666667
f) 1.0
g) 2.0

In [2]:
x = 1
y = 2
z = 3
g = 4

print("\nProblem 2:")
print("a)", x + y * z / g)  # 2.5
print("b)", y ** z)

Problem 2:
a) 2.5
b) 8

In [3]:
# Given values
str_a = "Python"
str_b = "is a"
str_c = "times fun language"
num = 1000


str_ab = str_a + str_b + str(num) + str_c
print("str_ab (direct):", str_ab)



str_ab_nice = str_a + " " + str_b + " " + str(num) + " " + str_c
print("str_ab (nicely spaced):", str_ab_nice)


str_a10 = str_a * 10
print("str_a10:", str_a10)

str_ab (direct): Pythonis a1000times fun language
str_ab (nicely spaced): Python is a 1000 times fun language
str_a10: PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [23]:
# Odd or Even
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

# Pass or Fail
score = int(input("Enter student's score (0-100): "))
if score >= 50:
    print("Pass")
else:
    print("Fail")

# Largest of 3 numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
print("Largest number is:", max(a, b, c))

# Counting with for
print("Counting from 1 to 10:")
for i in range(1, 11):
    print(i)

# Grade Calculator
grade_score = int(input("Enter score for grading: "))
if 90 <= grade_score <= 100:
    print("Grade: A")
elif 80 <= grade_score <= 89:
    print("Grade: B")
elif 70 <= grade_score <= 79:
    print("Grade: C")
elif 60 <= grade_score <= 69:
    print("Grade: D")
else:
    print("Grade: F")

# Multiplication Table
table_num = int(input("Enter a number for multiplication table: "))
for i in range(1, 11):
    print(f"{table_num} x {i} = {table_num * i}")

# Sum of Even Numbers (1 to 50)
even_sum = 0
for i in range(1, 51):
    if i % 2 == 0:
        even_sum += i
print("Sum of even numbers from 1 to 50 is:", even_sum)

# Factorial with while loop
fact_num = int(input("Enter a number for factorial: "))
fact = 1
count = 1
while count <= fact_num:
    fact *= count
    count += 1
print(f"Factorial of {fact_num} is: {fact}")

Enter a number: 12
Even
Enter student's score (0-100): 100
Pass
Enter first number: 54
Enter second number: 45
Enter third number: 13
Largest number is: 54.0
Counting from 1 to 10:
1
2
3
4
5
6
7
8
9
10
Enter score for grading: 5
Grade: F
Enter a number for multiplication table: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
Sum of even numbers from 1 to 50 is: 650
Enter a number for factorial: 23
Factorial of 23 is: 25852016738884976640000

In [22]:
def odd_or_even():
    num = int(input("Enter a number: "))
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")

In [21]:
def pass_or_fail():
    score = int(input("Enter student's score (0-100): "))
    if score >= 50:
        print("Pass")
    else:
        print("Fail")

In [ ]:
def largest_of_three():
    a = float(input("Enter first number: "))
    b = float(input("Enter second number: "))
    c = float(input("Enter third number: "))
    print("Largest number is:", max(a, b, c))

In [ ]:
def counting_with_for():
    print("Counting from 1 to 10:")
    for i in range(1, 11):
        print(i)

In [ ]:
def grade_calculator():
    grade_score = int(input("Enter score for grading: "))
    if 90 <= grade_score <= 100:
        print("Grade: A")
    elif 80 <= grade_score <= 89:
        print("Grade: B")
    elif 70 <= grade_score <= 79:
        print("Grade: C")
    elif 60 <= grade_score <= 69:
        print("Grade: D")
    else:
        print("Grade: F")

In [ ]:
def multiplication_table():
    table_num = int(input("Enter a number for multiplication table: "))
    for i in range(1, 11):
        print(f"{table_num} x {i} = {table_num * i}")

In [12]:
def sum_of_even_numbers():
    even_sum = sum(i for i in range(1, 51) if i % 2 == 0)
    print("Sum of even numbers from 1 to 50 is:", even_sum)

In [25]:
def factorial_with_while():
    fact_num = int(input("Enter a number for factorial: "))
    fact = 1
    count = 1
    while count <= fact_num:
        fact *= count
        count += 1
    print(f"Factorial of {fact_num} is: {fact}")